
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
}

header {
    padding: 20px;
    text-align: center;
    background-color: var(--primary-color)
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--highlight-color);
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h1, h2, h3 {
    margin-bottom: 10px;    
    color: var(--secondary-color)
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    border: 1px solid var(--highlight-color);
    padding: 10px;
  }

li:last-child {
    margin-bottom: 0;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
}
